/* RESET */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* BASE */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

/* HEADER */
header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

header .header-descuentos {
    background-color: #1CD1B0;
    width: 100%;
}

header p {
    padding: 10px;
}

header .header-main {
    background-color: #00669F;
    width: 100%;
}

header h1 {
    padding: 28px;
}

/* MAIN */

main section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 15rem 10rem;
}

main .card {
    border-radius: 16px 16px 0 0;
    margin: 2rem 2rem;
    width: 300px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: cover;
    position: relative;
}

article .heart {
    position: absolute;
    top: 15px;
    left: 21px;
    width: 40px;
}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: 126px;
    left: 89px;
    max-width: 120px;
}

.card-background {
    border-radius: 16px 16px 0 0;
}

.card-content {
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content p {
    padding: 2rem 0 5rem;
}

.card-content a {
    text-decoration: none;
    background-color: #00669F;
    color: #F3F3F3;
    padding: 15px 35px;
    position: absolute;
    bottom: 2rem;
}

.batman {
    position: relative;
}

.harley {
    position: relative;
}

/* FOOTER */
footer {
    display: flex;
    background-color: #00669F;
}

footer p {
    color:#FFF9F9;
    padding: 16px;
}

