/* RESET */
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* BASE */
body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 15px;
}

/* FLEX */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    justify-content: center;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* HEADER DESCUENTOS */

header .header-descuentos {
    background-color: #1CD1B0;
    width: 100%;
}

header p {
    padding: 0.5rem 1rem;
}

/* HEADER LOGO */

header .header-logo {
    background-color: #00669F;
    width: 100%;
    color: #FFFFFF;
    align-items: center;
}

header img {
    width: 75px;
    padding: 0.5rem 1rem;
}

header h2 {
    font-size: 1.5rem;
}

/* HEADER NAV BAR */
nav {
    background-color: #001D2D;
    color: #FFFFFF;
}

nav ul {
    justify-content: flex-end;
}

nav li {
    padding: 1rem 1rem 1rem 0;
}

nav a:link {
    color: #FFFFFF;
}

nav a:visited {
    color: #FFFFFF;
}

/* MAIN */

.section-card {
    justify-content: center;
    margin: 10rem 0 1rem 0;
    flex-wrap: wrap;
}

main .card {
    border-radius: 16px 16px 0 0;
    margin: 2rem 2rem;
    width: 300px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    object-fit: cover;
    position: relative;
}

article .heart {
    position: absolute;
    top: 15px;
    left: 21px;
    width: 40px;
}

.profile-pic {
    border-radius: 50%;
    position: absolute;
    top: 126px;
    left: 89px;
    max-width: 120px;
}

.card-background {
    border-radius: 16px 16px 0 0;
}

.card-content {
    padding: 5rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content p {
    padding: 2rem 0 5rem;
}

.card-content a {
    text-decoration: none;
    background-color: #00669F;
    color: #F3F3F3;
    padding: 15px 35px;
    position: absolute;
    bottom: 2rem;
}

.batman {
    position: relative;
}

.harley {
    position: relative;
}

/* FORM */
.form {
    margin: 10rem 25vw 1rem 25vw;
    width: 50vw;
    align-items: flex-start;
}

.form h1 {
    padding: 0 0 2rem 0;
}

.form input,
.form select,
.form textarea {
    border: 1px solid black;
    margin: 0.25rem;
    padding: 0.5rem;
    width: 50vw;
}

.form input::placeholder,
.form select::placeholder {
    font-family: 'Karla', sans-serif;
    color: #000000;
}

.form input[type="submit"] {
    background-color: #1CD1B0;
    border-radius: 23px;
    border: none;
    align-self: center;
    font-weight: bold;
    margin: 2rem 0 1rem 1rem;
    width: 20vw;
}

.form input[type="reset"] {
    background-color: #888888;
    border-radius: 23px;
    border: none;
    align-self: center;
    font-weight: bold;
    margin: 2rem 0 1rem 0;
    width: 20vw;
}

.form p {
    text-align: center;
}

.form a:visited {
    color: #00669F;
}

/* ADD FORM */



/* ADD BUTTON */
main {
    position: relative;
}

.add-button {
    text-decoration: none;
    background-color: #00669F;
    color: #FFFFFF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

/* FOOTER */
html, body {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    background-color: #00669F;
    justify-content: center;
    flex-shrink: 0;
}

footer p {
    color:#FFF9F9;
    padding: 1rem;
}

/* MEDIA QUERIES */
@media all and (max-width: 400px) {
    .add-button {
        right: 1rem;
    }
}